@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto';
}

#header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #F5F5F6;
}

.logo img {
    width: 89px;
    height: 23px;
}

.menu-list {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu-item {
    padding: 16px 7px;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 0.06em;
    color: #959BA4;
    transition: all ease-in .7s;
}

.menu-item:hover {
    color: #000000;
    cursor: pointer;
    transition: all ease-in-out .3s;
    background-color: #abff07;
}

.login button {
    width: 58px;
    height: 33px;
    background: #FFFFFF;
    border: 0px;
    border-radius: 4px;
    font-size: 11px;
    line-height: 13px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    transition: all ease-in-out .2s;
}

.login button:hover {
    cursor: pointer;
    background: #4486db;
    color: #FFFFFF;
    transition: all ease-in .2s;
}